# OOPS

In [1]:
#iit form(template) example, cars example, human being example
#classes are blueprint/template for creating an object
#we are different objects of class human being
#gujiya maker, thekua maker

In [3]:
a  = 5
print(type(a))

<class 'int'>

In [4]:
b = "string"
print(type(b))

<class 'str'>

In [5]:
class Car:
    pass

In [6]:
#class Car is nothing but a template
class Car: #naming convention>> UpperCamelCase
    pass

In [7]:
c1 = Car()

In [8]:
print(type(c1))

<class '__main__.Car'>

In [9]:
#why oops? we already had function
#a project can have many components, say backend(f1, f2), frontend(f3, f4), data pipeline(f5, f6)

# def f1():
#     pass

# def f6():
#     pass

# def f4():
#     pass

# def f2():
#     pass

# def d5():
#     pass

# def f3():
#     pass

#if a backend developer wants to work/change some backend function>> all the functions are at one place
#oops helps you to arrange the required functions in respective classes

In [10]:
class Car:
    def amitesh():
        print("amitesh")
c1 = Car()

In [11]:
c1

In [12]:
print(c1)

<__main__.Car object at 0x0000025E237CF450>

In [13]:
c1.amitesh() # it will shhow an error

TypeError: Car.amitesh() takes 0 positional arguments but 1 was given

 # SELF 
### self>> a variable that represent instance of the class using which you can access method/function of class, also attribute/property/data of the class
### self makes sure that each object knows that the method is associated with it
### in other words the method is referenced to that particular object

In [17]:
class Car:
    def greet(self):
        print("good morning chicha")
c1 = Car()
c1.greet()

good morning chicha

In [2]:
class Car: 
    def accelerate(self):
        print("car is accelerating")
    def brake(self):
        print("car is stopping")
#self is not a python keyword, you can pass any variable name
#best practise is to pass self

In [3]:
c1 = Car()

In [5]:
c1.accelerate()

car is accelerating

In [7]:
c1.brake()

car is stopping

In [11]:
class Bank:
    def deposit(self):
        print("paisa jama kr diya bhai ")
    def withdraw(self):
        print("paisa nikal le bhai ")

ob = Bank()
ob.deposit()
ob.withdraw()

paisa jama kr diya bhai
paisa nikal le bhai

In [12]:
ob2 = Bank()
ob2.deposit()

paisa jama kr diya bhai

In [13]:
#passing data in the class >> can aslo called as property/ attribute

In [14]:
class Bank:
    def deposit(self,amount):
        print(f"paisa jama kiya apne {amount}")
    def withdraw(self,amount_withdarw):
        print(f"paisa nikal liye apne {amount_withdarw}")

In [15]:
ob = Bank()

In [16]:
ob.deposit(1000)

paisa jama kiya apne 1000

In [17]:
ob.withdraw(200)

paisa nikal liye apne 200

In [18]:
#bank will ask for a defualt amount , amount is attribute /property / data of class Bank

In [19]:
class Bank:
    amount= 1000
    def deposit(self,amount):
        print(f"amount is equals to {amount}")
    def withdraw(self,amount):
        print(f"paisa nikal liya itna {amount}")

In [20]:
rajat = Bank()

In [22]:
rajat.amount

1000

In [24]:
rajat.deposit(100)

amount is equals to 100

In [25]:
rajat.withdraw(100)

paisa nikal liya itna 100

In [26]:
# extract odd and even no from a list

In [35]:
class ListOps:
    # l = [ 1,2,3,4,5]
    l = []
    def even(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1
    def odd(self,l):
        l2 = []
        for i in l:
            if i%2 != 0:
                l2.append(i)
        return l2

In [36]:
rajat =ListOps()

In [37]:
rajat.even([1,2,3,4,5])

[2, 4]

In [38]:
rajat.odd([1,2,3,4])

[1, 3]

In [39]:
rajat.even([1,3,5,7,4,4,6,336,56])

[4, 4, 6, 336, 56]

In [42]:
class ListOps:
    l = [ 1,2,3,4,5]
    def even(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1
    def odd(self,l):
        l2 = []
        for i in l:
            if i%2 != 0:
                l2.append(i)
        return l2

In [43]:
ops = ListOps()

In [44]:
ops.l

[1, 2, 3, 4, 5]

In [45]:
ops.even(ops.l)

[2, 4]

In [46]:
ops.odd(ops.l)

[1, 3, 5]

In [47]:
# if you make any object the attribute l is fixed
#inspite of passing diffrent list above you are still getting the fixed l([1,2,3,4,5])
ops.l

[1, 2, 3, 4, 5]

In [48]:
# you want to take the attribute value of class for each object diffrently

In [55]:
class LstOps:
    def __init__(self,l):
        self.l = l
    def extract_even(self, l):
        l1 = []
        for i in l:
            if i%2 == 0:
                l1.append(i)
        return l1
    
    def extract_odd(self, l):
        l2 = []
        for i in l:
            if i%2 != 0:
                l2.append(i)
        return l2

In [52]:
oops = LstOps() #throw an error, while making object/instance of the class, 
#the first method that is executed is __init__
#and init needs an arguement

TypeError: LstOps.__init__() missing 1 required positional argument: 'l1'

In [63]:
ops1 = LstOps([1,10 ,30, 31, 4, 5])
ops1.l

[1, 10, 30, 31, 4, 5]

In [64]:
ops1.extract_even() #throw an error. see the explanation below

TypeError: LstOps.extract_even() missing 1 required positional argument: 'l'

In [74]:
#extract odd and even nos from a list

class ListOps:
    def __init__(self, l): #magic method/dunder method. init means initialisation>>of variable
        self.l = l
        
    def extract_even(self): #be careful as init has been used only pass self in the method and not the variable again
        l = self.l
        l1 = []
        for i in l:
            if i%2 == 0:
                l1.append(i)
        return l1
    
    def extract_odd(self):
        l = self.l
        l1 = []
        for i in l:
            if i%2 != 0:
                l1.append(i)
        return l1

In [75]:
oops = ListOps([1,2,3,4,5,56,5,4])

In [78]:
oops.extract_even()

[2, 4, 56, 4]

In [79]:
oops.extract_odd()

[1, 3, 5, 5]

In [80]:
#extract odd and even nos from a list

class ListOps:
    def __init__(self, l): #magic method/dunder method. init means initialisation>>of variable
        self.l2 = l #everywhere you will be able to access l using slef.l2
        
    def extract_even(self): #be careful as init has been used only pass self in the method and not the variable again
        l = self.l2
        l1 = []
        for i in l:
            if i%2 == 0:
                l1.append(i)
        return l1
    
    def extract_odd(self):
        l = self.l2
        l1 = []
        for i in l:
            if i%2 != 0:
                l1.append(i)
        return l1

In [82]:
ops1 = ListOps([2,3,4,3])

In [83]:
ops1.extract_even()

[2, 4]

In [84]:
ops1.extract_odd()

[3, 3]

In [85]:
#multiple attributes
#in a library a book is associated with author, title, name
#every variable is fixed|

In [15]:
class Book:
    def __init__(self):
        self.book_name = "Dsa"
        self.author = "chunkey pandey"
        self.title = "moj masti"
    def extract_detail(self):
        print(f"the name of book is {self.book_name} and author is {self.author}")

In [87]:
aa = Book()

In [88]:
aa.extract_detail()

the name of book is Dsa and author is chunkey pandey

In [89]:
#to pass dynamic variable/data

In [1]:
class Book:
    def __init__(self , name , book):
        self.aname = name
        self.book_name = book
    def detials(self):
        print(f"name is {self.aname} , book name is {self.book_name}")

In [7]:
aaaa = Book("amitesh " , "data sci")

In [9]:
bb  = Book("Raajat" , "data anay")

In [11]:
aaaa.detials()

name is amitesh  , book name is data sci

In [13]:
bb.detials()

name is Raajat , book name is data anay